<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.sponity.model.dao.ClubManagerDao">

	<!-- 모임 생성 -->
	<insert id="insertClub" parameterType="Club">
		INSERT INTO club(club_name, category, wide_area, detail_area, introduction)
		VALUES (#{clubName}, #{category}, #{wideArea}, #{detailArea}, #{introduction})
	</insert>
	
	<!-- 방금 만들어진 모임의 clubId를 조회하기 -->
	<select id="selectMaxClubId" resultType="Integer">
		SELECT club_id
		FROM club
		ORDER BY club_id DESC
		LIMIT 1
	</select>
	
	<!-- 멤버 레코드 생성 -->
	<insert id="insertMember" parameterType="Map">
	    INSERT INTO member (user_id, club_id, leader)
	    VALUES (#{userId}, #{clubId}, #{leader})
	</insert>
	
	
	<!-- 모임장인지 여부 확인 -->
	<select id="isLeader" resultType="boolean" parameterType="Map">
	    SELECT COUNT(*) > 0
	    FROM member
	    WHERE user_id = #{userId} AND club_id = #{clubId} AND leader = 'Y'
	</select>
	
	<!-- 모임 수정 -->
	<update id="updateClub" parameterType="Club">
		UPDATE club
		SET
			club_name = #{clubName},
			category = #{category},
			wide_area = #{wideArea},
			detail_area = #{detailArea},
			introduction = #{introduction}
		WHERE club_id = #{clubId}
	</update>
	
	
	<!-- 모임 삭제 -->
	<delete id="deleteClub" parameterType="int">
		DELETE FROM club
		WHERE club_id = #{clubId}
	</delete>
	
	
	<!-- 이전 모임장 권한 해제 -->
	<update id="cancelLeader" parameterType="int">
		UPDATE member
		SET leader = 'N'
		WHERE club_id = #{clubId} AND leader = 'Y'
	</update>
	
	<!-- 새로운 모임장 권한 부여 -->
	<update id="grantLeader" parameterType="Map">
		UPDATE member
		SET leader = 'Y'
		WHERE club_id = #{clubId} AND user_id = #{newLeaderId}
	</update>
	
	
	<!-- 회원 강퇴 -->
	<delete id="deleteMember" parameterType="Map">
		DELETE FROM member
		WHERE club_id = #{clubId} AND user_id = #{expelId}
	</delete>
	
</mapper>