<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.sponity.model.dao.ClubDao">

	<!-- 클럽 검색 -->
	<select id="selectClubList" resultType="Club" parameterType="Map">
		SELECT * FROM club
		WHERE category = #{category}
			AND wide_area = #{wideArea} 
			AND detail_area = #{detailArea} 
			AND club_name LIKE "%${keyword}%"
	</select>
	
	<!-- 멤버 수 계산 -->
	<select id="countMember" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM member
		WHERE club_id = #{clubId}
	</select>
		
	<!-- 좋아요 수 계산 -->
	<select id="countLike" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM club_like
		WHERE club_id = #{clubId}
	</select>
	
	
	<!-- 클럽 상세조회 -->
	<select id="selectClub" resultType="Club" parameterType="int">
		SELECT * FROM club
		WHERE club_id = #{clubId}
	</select>
	
	<!-- 클럽 상세조회 - 해당 모임에 대한 사용자의 지위 -->
	<select id="userStatus" resultType="String" parameterType="Map">
		SELECT leader
		FROM member
		WHERE user_id = #{userId} AND club_id = #{clubId}
	</select>
	
	<!-- 클럽 상세조회 - 해당 모임에 대한 사용자의 좋아요 여부 -->
	<select id="isLike" resultType="boolean" parameterType="Map">
		SELECT COUNT(*) > 0
		FROM club_like
		WHERE user_id = #{userId} AND club_id = #{clubId}
	</select>
	
	
	<!-- 모임 회원 조회 -->
	<select id="selectMember" resultType="User" parameterType="int">
		SELECT user_id, user_name, nickname, email, profile_img
		FROM user
		INNER JOIN member
		USING (user_id)
		WHERE club_id = #{clubId}
	</select>
	
	
	<!-- 기존 가입여부 확인 -->
	<select id="isJoined" resultType="boolean" parameterType="Map">
		SELECT COUNT(*) > 0
		FROM member
		WHERE user_id = #{userId} AND club_id = #{clubId}
	</select>
	
	<!-- 클럽 가입 -->
	<insert id="insertMember" parameterType="Map">
		INSERT INTO member(user_id, club_id)
		VALUES (#{userId}, #{clubId})
 	</insert>
	
	<!-- 클럽 탈퇴 -->
	<delete id="deleteMember" parameterType="Map">
		DELETE FROM member
		WHERE user_id = #{userId} AND club_id = #{clubId}
	</delete>
	
	
	<!-- _____클럽 좋아요 기능________________________________________________________________________________________ -->
	
	
	<!-- 클럽 좋아요 -->
	<insert id="clubLike" parameterType="Map">
		INSERT INTO club_like(user_id, club_id)
		VALUES (#{userId}, #{clubId})
	</insert>
	
	<!-- 클럽 좋아요 취소 -->
	<delete id="clubDislike" parameterType="Map">
		DELETE FROM club_like
		WHERE user_id = #{userId} AND club_id = #{clubId}
	</delete>
	
	
	<!-- _____클럽 게시판 기능________________________________________________________________________________________ -->
	
	
	<!-- 클럽 내 게시판 조회 -->
	<select id="selectBoardList" resultType="Board" parameterType="int">
		SELECT * FROM board
		WHERE club_id = #{clubId}
	</select>
	
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board(club_id, user_id, title, content, img_1, img_2, img_3)
		VALUES (#{clubId}, #{userId}, #{title}, #{content}, #{img1}, #{img2}, #{img3})
	</insert>
	
	
	
	
	
	
	
	<!-- _____클럽 게시판 내 댓글 기능________________________________________________________________________________________ -->
	
	
</mapper>