<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.sponity.model.dao.ClubManagerDao">

	<!-- 모임 생성 -->
	<insert id="insertClub" parameterType="Club">
		INSERT INTO club(club_name, category, wide_area, detail_area, introduction)
		VALUES (#{clubName}, #{category}, #{wideArea}, #{detailArea}, #{introduction})
	</insert>
	
	<!-- 방금 만들어진 모임의 clubId를 조회하기 -->
	<select id="selectMaxClubId" resultType="Integer">
		SELECT club_id
		FROM club
		ORDER BY club_id DESC
		LIMIT 1
	</select>
	
	<!-- 멤버 레코드 생성 -->
	<insert id="insertMember" parameterType="Map">
	    INSERT INTO member (user_id, club_id, leader)
	    VALUES (#{userId}, #{clubId}, #{leader})
	</insert>
	
</mapper>