<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.sponity.model.dao.S3Dao">

	<!-- 프로필 이미지 URL 추가 -->
	<update id="updateProfilePictureUrl" parameterType="Map">
		UPDATE user
		SET profile_img = #{url}
		WHERE user_id = #{userId}
	</update>
	
	<!-- 프로필 이미지 URL 삭제 -->
	<update id="deleteProfilePictureUrl" parameterType="String">
		UPDATE user
		SET profile_img = null
		WHERE user_id = #{userId}
	</update>
	
	
	<!-- _____게시판 이미지________________________________________________________________________________________________ -->
	
	
	<!-- 방금 만들어진 board 레코드의 board_id 값 가져오기 -->
	<select id="selectMaxBoardId" resultType="Integer">
		SELECT board_id
		FROM board
		ORDER BY board_id DESC
		LIMIT 1
	</select>
	
	<!-- 게시판 이미지 파일의 S3 서버 URL 추가 -->
	<update id="updateBoardPictureUrl" parameterType="Map">
		UPDATE board
		SET ${colName} = #{url}
		WHERE board_id = #{boardId}
	</update>
	
	
	<!-- _____클럽 이미지________________________________________________________________________________________________ -->
	
	
	<!-- 클럽 이미지 URL 추가 -->
	<update id="updateClubPictureUrl" parameterType="Map">
		UPDATE club
		SET club_img = #{url}
		WHERE club_id = #{clubId}
	</update>
	
	
	<!-- 클럽 이미지 URL 삭제 -->
	<update id="deleteClubPictureUrl" parameterType="int">
		UPDATE club
		SET club_img = null
		WHERE club_id = #{clubId}
	</update>
	
</mapper>